.TileWrapper {
    padding: 5px;

    font-size: large;

    align-items: center;

    display: inline-flex;
}

.Tile {
    margin: 10px;
    margin-right: 80px;
}

.DropdownSelect {
    font-size: medium;
    color: #282c34;
}

.ArrowWrapper {
    display: flex;

    align-items: center;
}

.ArrowWrapper > div {
    display: inline-block;
}