.Contract {
    margin: 10vh;
    margin-bottom: 10vh;
}

.ContractName {
    position: absolute; 
    left: 0; 
    right: 0; 
    top: 5vh;
    margin-left: auto; 
    margin-right: auto;
    border-radius: 2vh;
}

.ContractName input {
    font-size: 4vh;
}

.CreateButton {
    position: fixed;

    bottom: 2vh;
    right: 2vh;
    border-radius: 1vh;
    padding: 1vh;

    border-width: 0.4vh;

    font-size: 3vh;
}

.ProgressButton {
    position: fixed;

    bottom: 10vh;
    right: 2vh;
    border-radius: 1vh;
    padding: 1vh;

    border-width: 0.4vh;

    font-size: 3vh;
}

.UserButton {
    position: fixed;

    bottom: 2vh;
    left: 2vh;
    
}

.UserButton button {
    border-radius: 1vh;
    padding: 1vh;

    border-width: 0.4vh;

    font-size: 2vh;
}

.UserButton input {
    margin-left: 3vh;
    margin-right: 1vh;
    border-width: 0.4vh;
    width: 10vh;
    padding: 0.5vh;
    font-size: 2vh;
}